
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Edu+VIC+WA+NT+Beginner&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oleo+Script&family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Edu+VIC+WA+NT+Beginner&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oleo+Script&family=Rubik+Moonrocks&display=swap');
body{
    background-color: aqua;
}

:root{
    --bg-color:#005387;
    --text-color:brown;
    --headline-color:bisque;
    --button-color:brown;
    --accent--color:rgb(199, 195, 195);
    --headling-font:'Lato', sans-serif;
    --body-font:'Oleo Script', cursive;;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: var(--body-font);
    background-color: var(--bg-color);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--accent--color);
}
.logo{
    color: var(--text-color);
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.nav-links{
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: var(--text-color);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: var(--headling-font);
}

nav > .burger > div{
    width: 25px;
    height: 3px;
    background-color: var(--button-color);
    margin: 5px;
    transition: all 0.3 ease;
}

.burger {
    display: none;
}

/* tablet zone */
@media screen and (max-width: 1024px) {
    .nav-links{
        width: 50%;
    }
    
}

/* HERO SECTION STYLE START HERE */
.heroSection{
    height: calc(100vh - 8vh);
    background-image: url(../images/);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.heroSection::before{
    content:"";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: wheat;
    position: absolute;
    opacity: 0.4;
}

.main{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding-top: 7rem;
}
.sectionTitle{
    color: bisque;
    font-size: 2rem;
    font-weight: lighter;
    letter-spacing: 0.3rem;
    margin-bottom: 1rem;
    font-family: 'Lato', sans-serif;
    text-shadow: grey;
}
.main p{
    color: white;
    line-height: 1.6rem;
    font-size: 1.2rem;
    font-weight: lighter;
    font-family: 'Lato', sans-serif;
}
.main .hero{
    width: 50%;
    display: inline-block;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-top: 10px;
    transition: all 0.4s ease-in;
}
.hero:hover{
    background-color: var(--button-color);
}
.hero a {
    padding: 10px 0px;
    text-decoration: none;
    color: var(--accent--color);
    font-size: 1rem;
    display: inline-block;
    transition: all 0.4s ease-in;
}
.hero a:hover{
    color: bisque;
}
.category{
    height:10vh;
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}
.category a{
    color: var(--text-color);
    text-decoration: none;
}
.active{
    background-color:lightblue;
    color: deepskyblue;
}
.card-wrapper{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.main-content{
    background-color:var(--accent--color);
    width:70%;
    display:flex;
    flex-direction:column;
    gap: 15px;
}
.card-itms{
    display:flex;
    width:100%;
    border-bottom:1px solid yellow;
}
.blogImage{
    width:30%;
}
.blogImage img{
    width:100%;
    height: 160px;
}
article{
    width:30%;
    background-color:#0053;
}
article > div.search-box input {
    width:90%;
    border-radius:5px;
    display:block;
    padding:10px;
    border:none;
    margin: 20px auto;
    font-size:20px;
}